// Component section header

@import "navbar";
@import "slogan";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("/src/assets/images/miguel-angel-sanz-Fd1dG8P26cs-unsplash-2.jpg");
  background-size: cover;

  @media (width >= 1200px) {
    background-position: center 40%;
    
  }
}


