// Component section slogan
// El siguiente contenedor centra el contenido principal y apila los elementos de forma vertical
// estableciendose un ancho máximo del 80% del contenedor.

.header__slogan {
  width: 90%;
  padding: 10px;
  margin-inline: auto;
  font-weight: $font-bold;
  background-color: rgba(255 255 255 / 60%);
  border-radius: 5px;

  @media (width >= 800px) {
    width: 70%;
  }

  .slogan__title {
    margin-bottom: 20px; 
    font-size: 2.5rem; 
    text-align: center;

    @media (width >= 800px) {
      font-size: 3.5rem;
    }
  }

  .slogan__description {
    @media (width >= 800px) {
      font-size: 1.5rem;
    }
  }
}
