<footer class="footer">
  <section class="footer__section" id="contacto">
    <h2 class="section__title">Contacto</h2>
    <p class="section__description">
      Si deseas más información sobre la Sierra de Madrid, planificar una visita guiada, o simplemente resolver cualquier duda, no dudes en ponerte en contacto con nosotros. Suscríbete a través del formulario de contacto.</p>
    </p>
  </section>
  <section class="footer__section">
    <h2 class="section__title">Cómo llegar</h2>
    <p class="section__description">
      Desde Madrid, se puede acceder a la sierra en coche por la A-6 en dirección al Puerto de Navacerrada o a Cotos. También hay trenes de cercanías que llegan hasta Cercedilla, desde donde parten muchas rutas de senderismo.
    </p>
  </section>
  <section class="footer__section">
    <h2 class="section__title">Newsletter</h2>
    <form class="section__form">
      <div class="form__group">
        <input class="form__input" name="email" type="email" placeholder="Escribe tu email">
      </div>
      <button class="form__btn-submit">Enviar</button>
    </form>
  </section>
  <ul class="footer__social-media">
    <li class="social-media__item">
      <a class="social-media__link" href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </li>
    <li class="social-media__item">
      <a class="social-media__link" href="https://twitter.com" target="_blank" aria-label="Twitter">
        <i class="fa-solid fa-x"></i>
      </a>
    </li>
    <li class="social-media__item">
      <a class="social-media__link" href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  </ul>
</footer>
