<header class="header" id="home">
  <div class="header__logo">
    <span class="logo__btn-menu" aria-label="Abrir menú"><i class="fa-solid fa-bars" id="btn-menu"></i></span>
    <a class="logo__link" href="#home">SIERRAMAGICA</a>
  </div>
  <nav class="navbar" id="navbar">
    <ul class="navbar__list">
      <li class="navbar__item"><a class="navbar__link" href="#sierra">La sierra</a></li>
      <li class="navbar__item"><a class="navbar__link" href="#pueblos">Pueblos</a></li>
      <li class="navbar__item"><a class="navbar__link" href="#galeria">Galeria</a></li>
      <li class="navbar__item"><a class="navbar__link" href="#rutas">Rutas</a></li>
      <li class="navbar__item"><a class="navbar__link" href="#actividades">Actividades</a></li>
      <li class="navbar__item"><a class="navbar__link" href="#contacto">Contacto</a></li>
    </ul>
  </nav>
  <div class="header__slogan">
    <h1 class="slogan__title">EXPLORA LA SIERRA DE MADRID</h1>
    <p class="slogan__description">La Sierra de Madrid, conocida como la sierra de Guadarrama, es un lugar ideal para aquellos que buscan una escapada de naturaleza cerca de Madrid, ya sea para disfrutar de actividades al aire libre o simplemente para relajarse en un entorno natural impresionante.</p>
  </div>
</header>
