@use "sass:color";

// Configuración y definición de variables Sass para colores y fuentes.

$font-stack: "Montserrat", arial, sans-serif;
$font-bold: 700;
$header-color: #2f804e;
$primary-color: #7ca005;
$secondary-color: #7bcabf;
$contrast-color: #6cf583;
$btn-color: #f4d65c;
$footer-color: #023315;
$text-white: #fff;
